/* Begin of Inner banner section  */
.immer-text h2 {
    font-size: 40px;
    color: #ffffff;
    font-family: 'Ubuntu-Bold';
    text-align: center;
}
.we-serve-img {
    padding: 10px;
}
section.we-serve-sec {
    background-image: url('../img/service-back.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 70px 0px;
    margin-top: -5px;
    position: relative;
}
/* End of Inner Banner Section  */

/* ************************Responsive****************** */
@media(max-width: 1150px){
}

@media(max-width: 768px){
    .we-serve-head p {
        font-size: 12px;
        padding: 0px 8px;
    }
}

@media(max-width: 480px){
}


/* ************************End of Responsive****************** */